<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MedicalStoreManagementSystem.Properties.Settings.MedicalStoreConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MedicalStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>